<h1>Display question you ask and the coaches answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h2>You:</h2>
<p><%= @question %> </p>

<h2>Coach:</h2>
<p><%= @answer %> </p>

<p><%= link_to 'ask again', '/ask'  %>
